<template lang="html">
  <div>
    <form @submit="createItem">
      <span>
        text
      </span>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  middleware: 'user',
  layout: 'admin',

  methods: {
    ...mapActions({
      create: 'products/createItem',
    }),

    createItem() {
      console.log('test');
    },
  },
};
</script>

<style lang='css'>
</style>
