<template lang="html">
  <register />
</template>

<script>
import register from '~/components/register-user/register-user';

export default {
  components: {
    register,
  },
};

</script>

<style lang="css">
</style>
