<template lang="html">
  <b-list-group>
    <b-list-group-item
      v-for="item in list"
      :key="item._id"
    >
      <button @click="setCategory(item.short)">
        {{ item.name }}
      </button>
    </b-list-group-item>
  </b-list-group>
</template>

<script>

import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      list: state => state.category.categories,
    }),
  },

  methods: {
    setCategory(name) {
      this.$emit('set-cat', name);
    },
  },
};
</script>

<style lang="css">
</style>
