<template lang="html">
  <div>
    {{ item }}
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      item: state => state.products.product,
    }),
  },
};
</script>

<style lang="css">
</style>
