<template lang="html">
  <div>
    <item
      v-for="product in products"
      :key="product.id"
      :product="product"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import item from './products-item';

export default {
  components: {
    item,
  },
  data() {
    return {
      searchQ: '',
      sortBy: '-name',
    };
  },
  computed: {
    ...mapState({
      products: state => state.products.products,
    }),
  },
};
</script>

<style lang="css">
</style>
