<template lang="html">
  <b-card
    :title="product.name"
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>
      {{ product.descriptions }}
      <p>
        {{ product.currency }}
        {{ product.price }}
      </p>
    </b-card-text>

    <nuxt-link :to="link">
      Go to page
    </nuxt-link>
  </b-card>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
      default: () => {},
    },
  },

  computed: {
    link() {
      return `/${this.product.category}/${this.product.id}`;
    },
  },
};
</script>

<style lang="scss">
</style>
