<template lang="html">
  <div class="container">
    <input
      v-model="searchQ"
      type="text"
    >
    <div>
      <ul>
        <li>
          <button @click="setSort('-price')">
            - price
          </button>
        </li>
        <li>
          <button @click="setSort('price')">
            price
          </button>
        </li>
        <li>
          <button @click="setSort('time')">
            time
          </button>
        </li>
        <li>
          <button @click="setSort('-time')">
            - time
          </button>
        </li>
        <li>
          <button @click="setSort('name')">
            name
          </button>
        </li>
        <li>
          <button @click="setSort('-name')">
            - name
          </button>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-3 col-xs-3">
        <category-list @set-cat="filterByCat" />
      </div>
      <div class="col-9 col-xs-9 flex">
        <products />
      </div>

    </div>
  </div>
</template>

<script>
import categoryList from '~/common-components/category/category';
import products from '~/common-components/products/products';

import { mapState, mapActions } from 'vuex';

export default {
  components: {
    categoryList,
    products,
  },

  data() {
    return {
      selectedCat: '',
      sortBy: '',
      searchQ: '',
    };
  },

  computed: {
    ...mapState({
      token: state => state.token,
    }),
  },

  watch: {
    selectedCat(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.fetch();
      }
    },
    searchQ(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.fetch();
      }
    },
    sortBy(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.fetch();
      }
    },
  },

  methods: {
    ...mapActions({
      getProducts: 'products/fetch',
    }),
    filterByCat(name) {
      this.selectedCat = name;
    },
    setSort(sort) {
      this.sortBy = sort;
    },
    fetch() {
      const params = {};
      if (this.selectedCat.length > 0) {
        params.cat = this.selectedCat;
      }
      params.searchQ = this.searchQ;
      params.sortBy = this.sortBy;
      this.getProducts(params);
    },
  },
};
</script>

<style lang="scss" scoped>
  .flex {
    /deep/ > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      /deep/ .card-text {
        text-transform: uppercase;
      }
    }
  }
</style>
