<template lang="html">
  <div class="">
    <b-form @submit="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="user.email"
          type="email"
          required
          placeholder="password"
        />
      </b-form-group>

      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="user.password"
          type="password"
          required
          placeholder="Email password"
        />
      </b-form-group>

      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          v-if="$route.path.indexOf(&quot;register&quot;) !== -1"
          id="input-1"
          v-model="user.confirm"
          type="password"
          required
          placeholder="Enter email"
        />
      </b-form-group>

      <b-button
        type="submit"
        variant="primary"
      >
        Submit
      </b-button>
      <b-button
        type="reset"
        variant="danger"
      >
        Reset
      </b-button>
    </b-form>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      user: {
        email: '',
        password: '',
        confirm: '',
      },
    };
  },

  computed: {
    ...mapState({
      userObj: state => state.user.user,
      token: state => state.c_t,
    }),
  },

  watch: {
    userObj() {
      if (this.userObj) {
        this.$router.push('/admin/product');
      }
    },
  },

  methods: {
    ...mapActions({
      fetch: 'user/fetch',
    }),

    onSubmit(e) {
      e.preventDefault();
      const type = this.$route.path.indexOf('register') !== -1 ? 'register' : 'login';
      this.fetch({ user: this.user, type });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
