<template lang="html">
  <div class="">
    <header>
      <button @click='signOut' type="button" name="button">signOut</button>
    </header>
    <nuxt/>
    <footer>
      this footer;
    </footer>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions({
      logOut: 'user/signOut',
    }),

    signOut() {
      this.logOut();
    },
  },
};
</script>

<style lang="css">
</style>
