<template>
  <div>
    <header>
      <b-nav>
        <b-nav-item active>
          <nuxt-link to="/">
            home
          </nuxt-link>
        </b-nav-item>
        <b-nav-item>
          <nuxt-link to="/howitwork">
            howitwork
          </nuxt-link>
        </b-nav-item>
        <b-nav-item>
          <nuxt-link to="/about">
            About
          </nuxt-link>
        </b-nav-item>
      </b-nav>
    </header>
    <nuxt />
    <footer>
      This footer:)
    </footer>
  </div>
</template>

<style>

</style>
