<template>
  <home-page />
</template>

<script>
import homePage from '~/components/home-page/home-page';

export default {
  components: {
    homePage,
  },

  async fetch({ store }) {
    await store.dispatch('category/fetch');
    await store.dispatch('products/fetch', { });
  },
};
</script>

<style>

</style>
