<template lang="html">
  <product-page />
</template>

<script>
import productPage from '~/components/product-page/product-page';

export default {

  components: {
    productPage,
  },

  async fetch({ store, route }) {
    await store.dispatch('products/fetchItem', route.params.id);
  },

};
</script>

<style lang="css">
</style>
